<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/055ab6717a.js" crossorigin="anonymous"></script>
    
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <div class="container">
        <!-- INIZIO CHATS VISIBILI SOLO SU TABLET  -->
        <div class="tablet-chats  ">
            <div class="round-img tab-chat  michele"></div>
            <div class="round-img tab-chat  massimo"></div>
            <div class="round-img tab-chat  fabio"></div>
            <div class="round-img tab-chat  samuele"></div>
            <div class="round-img tab-chat  giuditta"></div>
            <div class="round-img tab-chat  martina"></div>
            <div class="round-img tab-chat  alessandro"></div>
            <div class="round-img tab-chat  federico"></div>
        </div>
        <!-- INIZIO CHATS VISIBILI SOLO SU DESKTOP -->
        <div class="chats">
            <!-- PROFILE SECTION  -->
            <div class="profile-section">
                <div class="flex-start wh-50">
                    <div class="round-img io"></div>
                    
                </div>
                <div class="flex-end or-mar10 wh-50  ">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <!-- INIZIO ALLERTS -->
            <div class="alerts">
                <div class="round-img alerts-img flex"><i class="fa-solid fa-bell-slash"></i></div>
                <div class="profile-text">
                    <div class="name">Ricevi notifiche di nuovi messaggi</div>
                    <div class="info alerts-info">attiva notifiche desktop</div>
                </div>
            </div>
            <!-- INIZIO SEARCH  -->
            <div class="search">
                <div class="search-cont">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input class="search-text" v-model="searchContact"  type="text">
                </div>
                
            </div>
            <!-- INIZIO CONTACTS -->
            <div class="contacts">
                <div class="contact" v-for="(contact, index) in findContact()" @click="currentIndex=index">
                    <div class="flex-start ">
                        <div class="round-img ">
                            <img :src="contact.avatar"  alt="">
                        </div>
                        <div class="profile-text">
                            <div class="name">{{contact.name}}</div>
                            <div class="info ">ciao come stai?</div>
                        </div>
                    </div>
                    <div class="time">12:35</div>
                </div>
                
                
            </div>
        </div>
        <div class="chat-area" v-for="(contact, index) in contacts" v-show="currentIndex===index">
            <!-- INIZIO PROFILO CHAT  -->
            <div class="profile-section">
                <div class="flex-start wh-50 ">
                    <div class="round-img ">
                        <img :src="contact.avatar"  alt="">
                    </div>
                    <div class="profile-text">
                        <div class="name">{{contact.name}}</div>
                        <div class="info ">Ultimo Acesso oggi alle 16:26</div>
                    </div>
                </div>
                <div class=" tablet desktop flex-end or-mar10 wh-50  ">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>

            <!-- INIZIO MESSAGE SECTION DOVE SI VISUALIZZANO MESSAGGI INVIATI E RICEVUTI -->
            <div class="message-section">
              
                
                <div class="flex" v-for="message in contact.messages" >
                    <div class=" message received " :class="message.status">
                        <p>{{message.message}}</p>
                        <div class="message-right">
                            <i class="fa-solid fa-arrow-down"></i>
                            <div class="time">{{message.date}}</div>
                        </div>
                        
                    </div>
                </div>
                

               
            </div>

            <!-- INIZIO WRITE SECTION DOVE SI SCRIVE PER INVIARE UN MESSAGGIO  -->
            <div class="write-section">
                <div class="emoji"><i class="fa-solid fa-face-smile"></i></div>
                
                <input  type="text" v-model="newMessage" @keyup.enter="sentmessage" placeholder="Scrivi un messaggio">
                <div class="emoji"><i class="fa-solid fa-microphone"></i></div>
            </div>
        </div>
        </div>
    </div>
    
    <!-- LINK VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- LINK JS -->
    <script src="./main.js"></script>
    
</body>
</html>